@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-primary {
    color: var(--color-primary);
  }
  .bg-primary {
    background-color: var(--color-primary);
  }
  .border-primary {
    border-color: var(--color-primary);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
}
